#cloud-config
# configures doas so that root can use sudo
# creates a sudo alias that can be used for simple sudo calls, using doas
write_files:
- path: /etc/doas.d/root.conf
  permissions: "0600"
  content: |
    permit nopass root
runcmd:
- |
    if [ -f /usr/bin/doas -a ! -e /sbin/sudo ]; then ln -s /usr/bin/doas /sbin/sudo; fi
